* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  font-size: 12px;
}

a {
  font-size: 12px;
  font-weight: bold;
}
.menu {
  position: absolute;
  border: 10px;
  width: 70%;
  height: 100%;
  left: 0;
  top: 0;
}

.search {
  margin: 10px 10px 0 10px;
}
.search-bar {
  background: white;
  width: 100%;
  height: 2rem;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  left: 70%;
  background-color: white;
}

img {
  width: 64px;
  height: 64px;
  margin-left: 12px;
}

.image {
  margin: 5px;
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 140px;
  padding: 5px;
  border: 1px solid lightslategrey;
  border-radius: 10px;
  background-color: #f5f5f56e;
}

.container,
.products-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 10px;
  padding-bottom: 100px;
  /* height: 85%; */
}

.products-container {
  margin: 0 auto;
  margin-top: 20px;
}

.product-header {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid lightgrey;
  padding-left: 10px;
  margin: 0 auto;
  color: rgb(92, 28, 145);
}

.product {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid lightgrey;
  align-items: center;
  padding: 2px 0;
}

.cartImg {
  margin: 5px 10px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.itemName {
  background-color: white;
  width: 60%;
}
.totalPrice {
  background-color: white;
  width: 130px;
}

.basketTotalContainer {
  background-color: white;
  position: static;
  height: 80%;
  width: 100%;
  margin: 10px;
}

.summary {
  background-color: white;
  position: static;
  top: 65%;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  margin: 10px 0;
  font-size: 15px;
  border-radius: 5px;
  background-color: rgb(180, 96, 180);
  color: white;
}
ul {
  background-color: white;
  list-style: none;
  line-height: 1.5rem;
}
li {
  display: flex;
  justify-content: space-between;
}

.delBtn {
  border: none;
  background-color: white;
  width: 20px;
  height: 20px;
}

.icon {
  position: relative;
  display: flex;
}
.badge {
  position: absolute;
  top: 1px;
  right: 1px;
  height: 20px;
  width: 20px;
  color: white;
  background-color: rgb(38, 233, 142);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  bottom: -140px;
  padding: 10px;
  border-top: 1px solid lightgray;
}
